@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Noto+Sans+TC&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 243, 243);
  font-family: 'Mukta',
  sans-serif;
}
header{
  background-color: green;
  color: white;
  font-size: 2em;
  text-align: center;
  letter-spacing: .3em;
  padding: .3em 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  padding: 1.2em;
  margin: auto;
  margin-top: 7em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.inputFields{
  display: flex;
  justify-content: space-around;
}
.inputFields input{
  width: 38%;
  padding: .3em;
  border: .11em solid green;
  outline: none;
}
label{
  padding: .3em;
  font-weight: bold;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.btn{
  display: flex;
  background-color: green;
  color: white;
  font-size: 1.3em;
  padding: .3em .9em;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.lowerSection{
  display: flex;
  justify-content: space-between;
  padding: 0 .7em;
}
.clearBtn{
  background-color: brown;
  color: white;
  font-size: 1.1em;
  padding: .5em 1em;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.result{
  color: green;
  font-weight: bold;
  font-size: 1.5em;
  padding: .1em;
  border: none;
  outline: none;
}
.resultHide{
  display: none;
}
.resultShow{
  display: block;
}

@media (max-width: 425px) {
  .container{
    width: 85vw;
  }
  /* .inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .btn{
    font-size: 1em;
    padding: .3em .6em;
  }
  .clearBtn{
    font-size: .7em;
    padding: .9em .7em;
  }
  .result{
    font-size: 1em;
    padding: .1em;
  }
}
